* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

#wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgb(252, 219, 158);
    border-radius: 50px;
    display: flex;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
}

form input[type="text"] {
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

form input[type="text"]::placeholder{
    color: rgba(145, 145, 145, 0.281);
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="submit"] {
    color: black;
    border: 0;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 25px;
}

#ulElement {
    list-style: none;
}

#ulElement li{
    background-color: rgb(255, 100, 100);
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 450px;
    margin-bottom: 10px;
    font-size: 17px;
}

#ulElement li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#ulElement li a:hover{
    text-decoration: underline;
}

@media(max-width: 500px){

    #container{
        width: 350px;
    }

    #ulElement li{
    background-color: rgb(255, 100, 100);
    padding: 4px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    margin-bottom: 10px;
    font-size: 17px;
}

form input[type="submit"]{
    padding: 6px;
    width: 100px;
}
}